body { margin:0; font-family:Arial; color:white; }

.home-bg {
  background: linear-gradient(rgba(0,0,0,.85),rgba(0,0,0,.85)),
  url("https://images.unsplash.com/photo-1557683316-973673baf926");
  background-size:cover; min-height:100vh;
}

.navbar {
  display:flex; gap:10px; align-items:center;
  padding:20px; background:#000;
  box-shadow:0 0 20px #ff2fd0;
}

.logo { color:#ff2fd0; }

input { padding:8px; }

.cart-link, button {
  color:#ff2fd0; border:2px solid #ff2fd0;
  background:transparent; padding:8px 12px;
  cursor:pointer;
}

.products {
  display:flex; flex-wrap:wrap; justify-content:center;
  gap:20px; padding:30px;
}

.card {
  border:2px solid #ff2fd0;
  padding:15px; width:200px; text-align:center;
}

.card img { width:100%; height:120px; object-fit:cover; }

.product-details img { width:250px; }

.login-box {
  width:300px; margin:100px auto; text-align:center;
  border:2px solid #ff2fd0; padding:30px;
}

